@model GestDoc.Models.Reunion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reunion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateReunion" class="control-label"></label>
                <input asp-for="DateReunion" class="form-control" />
                <span asp-validation-for="DateReunion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarque" class="control-label"></label>
                <input asp-for="Remarque" class="form-control" />
                <span asp-validation-for="Remarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeReunionID" class="control-label"></label>
                <select asp-for="TypeReunionID" class="form-control" asp-items="ViewBag.TypeReunionID"></select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<GestDoc.Models.ViewModels.ParticipantsAssignes> adherents = ViewBag.Adherents;

                                foreach (var adherent in adherents)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedAdherents"
                                               value="@adherent.AdherentID"
                                               @(Html.Raw(adherent.Assigned ? "checked=\"checked\"" : "")) />
                                        @adherent.Nom
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div>
                    
                        <div id="InputsWrapper">
                            <div><input type="file" name="files" id="field_1" value=""><a href="#" class="removeclass"></a></div>
                        </div>
                        <div id="AddMoreFileId">
                            <a href="#" id="AddMoreFileBox" class="btn btn-info">Add field</a><br><br>
                        </div>
                        <div id="lineBreak"></div>
                    



                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {

        var MaxInputs = 10; //maximum extra input boxes allowed
        var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
        var AddButton = $("#AddMoreFileBox"); //Add button ID

        var x = InputsWrapper.length; //initlal text box count
        var FieldCount = 1; //to keep track of text box added

        //on add input button click
        $(AddButton).click(function (e) {
            //max input box allowed
            if (x <= MaxInputs) {
                FieldCount++; //text box added ncrement
                //add input box
                $(InputsWrapper).append('<div><input type="file" name="files" id="field_' + FieldCount + '" /> <a href="#" class="removeclass">X</a></div>');
                x++; //text box increment

                $("#AddMoreFileId").show();

                $('AddMoreFileBox').html("Add field");

                // Delete the "add"-link if there is 3 fields.
                if (x == 10) {
                    $("#AddMoreFileId").hide();
                    $("#lineBreak").html("< br > ");
        }
            }
            return false;
        });

        $("body").on("click", ".removeclass", function (e) { //user click on remove text
            if (x > 1) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox

                $("#AddMoreFileId").show();

                $("#lineBreak").html("");

                // Adds the "add" link again when a field is removed.
                $('AddMoreFileBox').html("Add field");
            }
            return false;
        })

    });
</script>

    }
